<div class="">
    <a href="https://www.instagram.com/kumarsipun_137/"
      ><i class="fa-brands fa-instagram" style="color: #ffffff"></i
    ></a>
    <a href="https://www.linkedin.com/in/subhranshu-pradhan-677bb3242/"
      ><i class="fa-brands fa-linkedin" style="color: #ffffff"></i
    ></a>
    <a href="https://github.com/Sipun-137"
      ><i class="fa-brands fa-github" style="color: #ffffff"></i
    ></a>
    <a href="https://twitter.com/kumarsipun137"
      ><i class="fa-brands fa-twitter" style="color: #ffffff"></i
    ></a>
  </div>