<%- include('partials/header') %>

<section class="prop1" id="profile" style="margin: 2%">
  <div class="container-fluid row" style="padding-top: 10%">
    <div class="col-lg-6">
      <h1 class="text-background">HELLO</h1>
      <h3 class="fontdesgn name">
        I'm SIPUN
        <br />
      </h3>
      <h4 class="fontdesgn name">
        a
        <br />
        <span style="color: rgb(25, 0, 255)">FULL STACK WEB DEVELOPER</span>
      </h4>
    </div>
    <div class="col-lg-6">
      <div>
        <img class="img" src="/image/image2.png" alt="display" />
      </div>
    </div>
  </div>
</section>

<section id="about" style="margin: 2%">
  

  <div class="fontdesgn" style="padding: 2%">ABOUT</div>

  <div class="container-fluid ">
    <div class="row prop3">
      <div class="col-lg-6">
        <h4 class="about">
          eat<span style="color: yellow">()</span>; sleep<span
            style="color: green"
            >()</span
          >; code<span style="color: blue">()</span>; repeat<span
            style="color: red"
            >()</span
          >;
        </h4>
      </div>
      <div class="col-lg-6 backneon">
        <p class="aboutdetail">
          My name is Subhranshu Pradhan(SIPUN). I create websites, awesome UI/UX
          designs,apis and Backend services.
        </p>
        <p class="aboutdetail">
          I am a detail-oriented software developer with expertise in
          <span class="t">Java</span>, <span class="t">HTML</span>,
          <span class="t">CSS</span>, <span class="t">Python</span>,
          <span class="t">React</span>, <span class="t">TypeScript</span>,
          <span class="t">npm</span>, <span class="t">Figma</span>, and
          <span class="t"> JavaScript</span>. I am always eager to learn and
          explore new advancements in the field.As a software developer, I am
          driven by a passion for innovation and a desire to create impactful
          solutions. I continually stay updated with the latest industry trends
          and technologies to enhance my skills and expand my knowledge.
        </p>
      </div>
      <!-- <div class="">
        <a href="#contact" class="btn fontdesgn">MORE</a>
      </div> -->
    </div>
  </div>
</section>

<!-- 
© 2018 Sean Halpin. All rights reserved. -->

<!-- project section -->
<section id="contact" style="margin: 2%">
  
  <div class="container-fluid">
    <div class="row prop1">
      <div class="col-lg-6">
        <a href="https://read.cv/kumarsipun_137" class="btn fontdesgn ">RESUME</a>
        
      </div>
      <div class="col-lg-6">
        <a href="https://github.com/Sipun-137" class="fontdesgn btn">PROJECT</a>
      </div>
      <div>
        <p class="pabout">I have a passion for web design and love to create for web and mobile devices.</p>
        <h3 class="pabout" style="font-size: 20px;">Lets do something together</h3>
        <a href="/contact" class="btn fontdesgn">CONTACT ME</a>
        
      </div>
      <%- include('partials/social') %>
    </div>
  </div>
</section>

<%- include('partials/footer') %>
