<%- include('partials/header1') %>
<section >
  <div class="container-fluid">
    <div class="row prop1">
      <div class="col">
        <h3 class="fontdesgn">thanks for visiting My site</h3>
      </div>
      <div>
        <a href="/" class="btn fontdesgn">HOME</a>
      </div>
    </div>
  </div>
</section>

<%- include('partials/footer') %>
